name: imgx
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.8
  - pip=22.3.1
  - pip:
      - --find-links
        https://storage.googleapis.com/jax-releases/libtpu_releases.html
      - tensorflow-cpu==2.11.0
      - jax[tpu]==0.4.1
      - jaxlib==0.4.1
      - -r requirements.txt
